.flashcard {
    width: 500px;
    height: 300px;
    perspective: 1000px;
    outline: 2px solid black;
}

.flashcard .front,
.flashcard .back {
    width: 100%;
    height: 100%;
    position: absolute;
    backface-visibility: hidden;
}

.flashcard .front {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

}

.flashcard .back {
    background-color: bisque;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transform: rotateY(180deg);
}

.flashcard.flipped .front {
  transform: rotateY(180deg);
}

.flashcard.flipped .back {
  transform: rotateY(0deg);
}
